<!DOCTYPE html>
<html lang="">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <meta name="theme-color" content="#0A0A58">
    <meta name="apple-mobile-web-app-status-bar-style" content="#0A0A58">
    <meta name="color-scheme" content="dark light">
    <meta name="description" content="Welcome to my digital résumé">
    <link rel="icon" href="<%= BASE_URL %>favicon.svg">
    <title>Orlando Estrella L.</title>
  </head>
  <body>
    <noscript>
      <strong>I'm sorry but this page doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
    <div id="app"></div>
    <!-- built files will be auto injected -->
  </body>
</html>
