<template>
  <Modal
    :modelValue="modelValue"
    @update:modelValue="$emit('update:modelValue', $event)"
    color="ruby"
    headerText="About Me"
  >
    <p>
      Hello! My name is Orlando Estrella, I'm a software developer originating from northen
      Mexico. I have a degree in Computer Sciences Engineering which I obtained with Magna
      Cumme Laude from CETYS University.
    </p>
    <p>
      Among the things that I like are music (I play guitar, trumpet and a bit of piano and I
      used to play with my University's orquestra), playing videogames with my friends and trying
      out cooking recipes from time to time.
    </p>
  </Modal>
</template>

<script lang="ts">
import { defineComponent } from 'vue';
import Modal from './Modal.vue';

export default defineComponent({
  name: 'AboutMe',
  components: {
    Modal,
  },
  props: {
    modelValue: {
      required: true,
      type: Boolean,
    },
  },
});
</script>

<style lang="scss">
  p {
    color: var(--text-light);
    font-size: 1.2em;
    margin: 0;

    +p {
      margin-top: 20px;
    }
  }
</style>
