<template>
  <Modal
    :modelValue="modelValue"
    @update:modelValue="$emit('update:modelValue', $event)"
    color="green"
    headerText="Experience"
  >
    <p>
      I've been working at SRAX since 2017, where I've had the opportunity to work as a Front-end
      Developer, Software Arquitect, Project Manager and Lead Enginner.
    </p>
    <p>
      I like challenging projects, some of my favorite ones include designing and implementing a
      basic programming languange and its compiler, a transpiler from a propietary query syntax to
      Elasticsearch DSL and this very webpage, which I've developed without using any libraries
      besides Vue to demostrate that you probably don't need a ton of dependencies for developing
      a functional website. If you would like to see how I work code-wise, feel free to check this
      page's source code <a href="https://gitlab.com/oestrellal96/oestrellal96.gitlab.io"
      target="_blank">here!</a>
    </p>
  </Modal>
</template>

<script lang="ts">
import { defineComponent } from 'vue';
import Modal from './Modal.vue';

export default defineComponent({
  name: 'AboutMe',
  components: {
    Modal,
  },
  props: {
    modelValue: {
      required: true,
      type: Boolean,
    },
  },
});
</script>

<style lang="scss" scoped>
  p {
    color: var(--text-light);
    font-size: 1.2em;
    margin: 0;

    +p {
      margin-top: 20px;
    }

    a {
      color: var(--text-light);
    }
  }
</style>
