<template>
  <!-- Star animation -->
  <transition
    name="draw"
    appear
    @after-enter="show = false"
    @after-leave="handleAnimationEnd"
  >
    <svg
      width="101"
      height="109"
      viewBox="0 0 101 109"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
      class="intro-star"
      v-show="show"
    >
      <path
        d="M94.5 26.5 L26 102 L46.5 8 L79.5 99.5 L6.5 56.5 L94.5 26.5 L26 102Z"
        stroke-width="4"
      />
    </svg>
  </transition>
</template>

<script lang="ts">
import { defineComponent } from 'vue';

export default defineComponent({
  name: 'IntroAnimation',
  data() {
    return {
      show: true,
    };
  },
  methods: {
    /**
     * Emit a event to signal the other components to appear
     */
    handleAnimationEnd() {
      this.$emit('animation-end');
    },
  },
});
</script>

<style lang="scss" scoped>
  .intro-star {
    grid-area: content;
    width: 200px;
    height: auto;
    stroke: var(--text-current);
  }

  // ===== Star draw animation =====
  .draw-enter-active {
    stroke-dasharray: 475 1000;
    stroke-dashoffset: 475;
    animation: draw 1.5s ease-in;
  }

  .draw-leave-active {
    transition: all 1s ease-out;
    opacity: 0;
    transform: translateY(-100px)
  }

  @keyframes draw {
    to {
      stroke-dashoffset: -100;
    }
  }
</style>
