<template>
  <!-- Name and Job title -->
  <section id="title">
    <div class="name-container">
      <h1>Orlando Estrella L.</h1>
      <span class="line"></span>
      <h4>Software Engineer / Front-end developer</h4>
    </div>
  </section>
</template>

<script lang="ts">
import { defineComponent } from 'vue';

export default defineComponent({
  name: 'MainTitle',
});
</script>

<style lang="scss" scoped>
  .name-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: var(--text-current);
    width: 100%;
    max-width: 600px;
    transition: color 3.5s ease-in-out;

    h1 {
      font-size: 2.5em;
      margin: 0;
      opacity: 0;
      transform: translateY(20px);
      animation: fade-text 1.5s ease-out forwards;
    }

    .line {
      width: 0px;
      height: 2px;
      margin-bottom: 5px;
      opacity: 0.5;
      background: var(--text-current);
      transition: background 3.5s ease-in-out;
      animation: extend 1.5s ease-out 1s forwards;
    }

    h4 {
      font-size: 2em;
      font-weight: lighter;
      margin: 0;
      opacity: 0;
      transform: translateY(-15px);
      animation: fade-text 1.5s ease-out 1.5s forwards;
    }
  }

  @keyframes fade-text {
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  @keyframes extend {
    to {
      width: 100%;
      opacity: 1;
    }
  }
</style>
