<template>
  <nav id="menu">
    <ul id="options-list">
      <li
        class="ruby"
        :class="{active: aboutMeVisible}"
        @click="aboutMeVisible = true"
      >
        <span>About me</span>
      </li>
      <li
        class="blue"
        :class="{active: skillsVisible}"
        @click="skillsVisible = true"
      >
        <span>Skills</span>
      </li>
      <li
        class="green"
        :class="{active: experienceVisible}"
        @click="experienceVisible = true"
      >
        <span>Experience</span>
      </li>
    </ul>

    <!-- Modals -->
    <AboutMe v-model="aboutMeVisible" />

    <!-- Skills -->
    <Skills v-model="skillsVisible" />

    <!-- Experience -->
    <Experience v-model="experienceVisible" />
  </nav>
</template>

<script lang="ts">
import { defineComponent } from 'vue';
import AboutMe from '@/components/AboutMe.vue';
import Skills from '@/components/Skills.vue';
import Experience from '@/components/Experience.vue';

export default defineComponent({
  name: 'Menu',
  components: {
    AboutMe,
    Skills,
    Experience,
  },
  data() {
    return {
      aboutMeVisible: false,
      skillsVisible: false,
      experienceVisible: false,
    };
  },
});
</script>

<style lang="scss" scoped>
#menu {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 25px;
  border: 2px solid var(--text-current);
  border-right: none;
  position: absolute;
  right: 0;
  width: 225px;
  height: 325px;
  text-align: start;
  z-index: 2;
  transition: border-color 3.5s ease-in-out;
  animation: fadeFromRight 1.5s ease-out;

  #options-list {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: space-around;
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 2em;

    li {
      display: block;
      position: relative;
      line-height: 1;
      cursor: pointer;
      z-index: 5;
      --line-color: var(--text-current);

      >span {
        display: block;
        position: relative;
        padding-top: 4px;
        z-index: 6;
      }

      &.ruby {
        --line-color: var(--accent-ruby);
      }

      &.bronze {
        --line-color: var(--accent-bronze);
      }

      &.green {
        --line-color: var(--accent-green);
      }

      &.blue {
        --line-color: var(--accent-blue);
      }

      +li {
        margin-top: 20px;
      }

      &:hover, &.active {
        &:after {
          width: 100%;
        }
      }

      &:after {
        content: '';
        display: block;
        width: 20px;
        height: 4px;
        background: var(--line-color);
        transition: all 0.5s ease;
      }

      &:focus-within {
        .modal {
          display: grid;
        }
      }
    }
  }

  @media screen and (max-width: 1035px) {
    justify-content: center;
    position: fixed;
    bottom: 0;
    right: auto;
    width: auto;
    height: 100px;
    width: 500px;
    max-width: calc(100% - 20px);
    border-right: 2px solid var(--text-current);
    border-bottom: none;
    animation: fadeFromBottom 1.5s ease-out;

    #options-list {
      flex-direction: row;
      align-items: center;

      li {
        + li {
          margin-top: 0;
          margin-left: 20px;
        }
      }
    }
  }
}

// Animations
@keyframes fadeFromRight {
  from {
    opacity: 0;
    transform: translateX(230px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeFromBottom {
  from {
    opacity: 0;
    transform: translateY(100px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

</style>
