<template>
  <transition name="modal">
    <div class="modal" v-show="modelValue">
      <!-- Overlay -->
      <div class="modal-backdrop" @click="hideModal"></div>
      <!-- Main box -->
      <div class="modal-dialog" :class="color">
        <!-- Header -->
        <header class="modal-header">
          <h3>{{ headerText }}</h3>
          <img
            class="modal-close"
            src="@/assets/icons/arrow.svg"
            alt="→"
            @click="hideModal"
          >
        </header>
        <!-- Content -->
        <div class="modal-content">
          <slot />
        </div>
        <!-- No need for footer for the time being -->
      </div>
    </div>
  </transition>
</template>

<script lang="ts">
import { defineComponent, PropType } from 'vue';

type ColorVariant = 'bronze' | 'ruby' | 'green' | 'blue';

export default defineComponent({
  name: 'Modal',
  props: {
    modelValue: {
      type: Boolean,
      default: false,
    },
    color: {
      type: String as PropType<ColorVariant>,
      default: 'bronze',
    },
    headerText: {
      type: String,
      default: '',
    },
  },
  emits: ['update:modelValue'],
  methods: {
    showModal() {
      this.$emit('update:modelValue', true);
    },
    hideModal() {
      this.$emit('update:modelValue', false);
    },
  },
});
</script>

<style lang="scss" scoped>
  .modal {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 100;
    overflow-x: hidden;
    overflow-y: auto;
    transition: all 1s ease;

    .modal-backdrop {
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 1;
      background-color: rgba(0, 0, 0, 0.1);
    }

    .modal-dialog {
      display: flex;
      flex-direction: column;
      position: relative;
      width: 750px;
      max-width: 100%;
      max-height: calc(100% - 200px);
      margin: 50px 10px;
      background-color: snow;
      z-index: 2;
      box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
      transition: all 1s ease;

      &.bronze {
        background-color: var(--accent-bronze);
      }

      &.ruby {
        background-color: var(--accent-ruby);
      }

      &.green {
        background-color: var(--accent-green);
      }

      &.blue {
        background-color: var(--accent-blue);
      }

      .modal-header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 20px;
        background-color: rgba(0, 0, 0, 0.1);

        h3 {
          line-height: 1;
          font-size: 2em;
          margin: 0;
          color: var(--text-light);
        }

        .modal-close {
          width: 36px;
          height: 36px;
          cursor: pointer;

          @media screen and (max-width: 1035px) {
            transform: rotateZ(90deg);
          }
        }
      }

      .modal-content {
        display: flex;
        align-items: stretch;
        flex-direction: column;
        overflow-x: hidden;
        overflow-y: auto;
        padding: 10px 20px 20px;
      }
    }
  }

  .modal-enter-from, .modal-leave-to {
    .modal-backdrop {
      opacity: 0;
    }

    .modal-dialog {
      // opacity: 0.5;
      transform: translateX(200%) scaleY(10%) scaleX(50%) rotateY(90deg);

      .modal-content, .modal-header>* {
        opacity: 0;
      }

      @media screen and (max-width: 1035px) {
        transform: translateY(200%) scaleY(10%) scaleX(50%) rotateY(90deg);
      }
    }
  }

  .modal-enter-active {
    .modal-dialog {
      transition: all 0.4s ease-out;

      .modal-content, .modal-header>* {
        transition: all 0.2s 0.2s ease-in-out;
      }
    }
  }

  .modal-leave-active {
    .modal-dialog {
      transition: all 0.4s ease-in;

      .modal-content, .modal-header>* {
        transition: all 0.2s ease-in-out;
      }
    }
  }
</style>
