<template>
  <Modal
    :modelValue="modelValue"
    @update:modelValue="$emit('update:modelValue', $event)"
    color="blue"
    headerText="Skills"
  >
    <section class="skills-container">
      <article class="skill-set" v-for="(set, index) in skillSets" :key="`set-${index}`">
        <span class="set-title">{{ set.setName }}</span>
        <ul class="skill-list">
          <li class="skill" v-for="(skill, index) in set.skills" :key="`${set.setName}-${index}`">
            <span class="name">{{ skill.name }}:</span>
            <div class="proficiency-meter">
              <span :style="`width: ${skill.proficiency}%`"></span>
            </div>
          </li>
        </ul>
      </article>
    </section>
  </Modal>
</template>

<script lang="ts">
import { defineComponent } from 'vue';
import Modal from './Modal.vue';

export default defineComponent({
  name: 'Skills',
  components: {
    Modal,
  },
  props: {
    modelValue: {
      required: true,
      type: Boolean,
    },
  },
  data() {
    return {
      skillSets: [
        {
          setName: 'Front-end Development',
          skills: [
            { name: 'Javascript / Typescript', proficiency: 90 },
            { name: 'CSS', proficiency: 80 },
            { name: 'HTML', proficiency: 80 },
            { name: 'VueJS', proficiency: 85 },
            { name: 'AstroJS', proficiency: 50 },
          ],
        },
        {
          setName: 'Back-end Development',
          skills: [
            { name: 'PHP', proficiency: 45 },
            { name: 'Laravel / Lumen', proficiency: 60 },
            { name: 'SQL (MySQL)', proficiency: 70 },
            { name: 'NoSQL (Mongo)', proficiency: 60 },
            { name: 'Elasticsearch', proficiency: 50 },
          ],
        },
        {
          setName: 'Dev-ops',
          skills: [
            { name: 'AWS Amplify', proficiency: 40 },
            { name: 'AWS Lightsail', proficiency: 50 },
            { name: 'Gitlab Pipelines', proficiency: 50 },
          ],
        },
        {
          setName: 'Methodologies',
          skills: [
            { name: 'Scrum', proficiency: 70 },
            { name: 'Agile', proficiency: 60 },
            { name: 'EOS', proficiency: 35 },
          ],
        },
        {
          setName: 'Other',
          skills: [
            { name: 'C#', proficiency: 40 },
            { name: 'Haxe', proficiency: 50 },
            { name: 'HaxeFlixel', proficiency: 50 },
            { name: 'Figma', proficiency: 50 },
            { name: 'Lucidchart', proficiency: 70 },
          ],
        },
      ],
    };
  },
});
</script>

<style lang="scss">
  h3 {
    line-height: 1;
    font-size: 2em;
    margin: 0;
    color: var(--text-light);
  }

  .skills-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(254px, 1fr));
    grid-template-rows: auto;
    gap: 20px;
  }

  .skill-set {
    display: block;
    position: relative;
    color: var(--text-light);

    .set-title {
      font-size: 1.5em;
      font-weight: 600;
    }

    .skill-list {
      list-style: none;
      font-size: 1.2em;
      margin: 0;
      padding: 0 0 0 1em;

      .skill {
        display: flex;
        align-items: center;

        .proficiency-meter {
          display: flex;
          align-items: center;
          position: relative;
          width: 5em;
          height: 15px;
          margin-left: 10px;
          border: 2px solid var(--text-light);
          border-radius: 10px;

          >span {
            display: inline-block;
            position: relative;
            height: 100%;
            border-radius: 10px;
            background: linear-gradient(to bottom, #DC9E5B, #B16D25);
            // box-shadow: inset 0 -10px 1px rgba(255, 255, 255, 0.3);
          }
        }
      }
    }
  }
</style>
