<template>
  <div class="background">
    <!-- <div class="test"></div> -->
    <svg
      class="background-svg"
      :viewBox="`0 0 ${viewportWidth} ${viewportHeight}`"
      xmlns="http://www.w3.org/2000/svg"
    >
      <!-- Dots! -->
      <circle
        v-for="(dot, index) in dotsDefinitions"
        :key="`star-${index}`"
        :cx="dot.positionX"
        :cy="dot.positionY"
        :r="dot.radius"
        class="dot-star"
        :style="`--opacity: ${dot.opacity}; fill: ${dot.color};`"
      />
    </svg>
  </div>
</template>

<script setup lang="ts">
import { reactive } from 'vue';

interface Dots {
  positionX: number;
  positionY: number;
  radius: number;
  opacity: number;
  color: string;
}

// Define the variables
const viewportHeight = window.innerHeight;
const viewportWidth = window.innerWidth;
const dotsDefinitions = reactive<Dots[]>([]);
const dostQuantity = 20;

// Randomize the dots
let index = 0;
for (index; index < dostQuantity; index += 1) {
  dotsDefinitions.push({
    positionX: Math.floor(Math.random() * viewportWidth),
    positionY: Math.floor(Math.random() * viewportHeight),
    radius: 2 + Math.floor(Math.random() * 6),
    opacity: Math.random(),
    color: Math.round(Math.random()) ? 'var(--star-blue)' : 'var(--star-yellow)',
  });
}

</script>

<style lang="scss" scoped>
.background {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  pointer-events: none;

  $noise: url('../assets/img/noise.png');

  .test {
    position: relative;
    top: 10px;
    left: 10px;
    width: 400px;
    height: 800px;
    background: linear-gradient(
      to bottom,
      #020024 0%,
      #020024 15%,
      #060540 15%,
      #060540 30%,
      #0a0a58 30%,
      #0a0a58 45%,
      #075192 45%,
      #075192 60%,
      #0493c9 60%,
      #0493c9 75%,
      #00d4ff 75%,
      #00d4ff 95%,
      #85e7fb 95%,
      #85e7fb 98%,
      #def4f9 98%,
      #def4f9 100%
    );
    // mask: $noise, linear-gradient(180deg, transparent 0%, #000 50%);
    // mask: $noise, radial-gradient(circle at 50%, transparent 30%, #000 (60% + 10%));
  }

  .background-svg {

    .dot-star {
      fill: #00D4FF;
      opacity: var(--opacity);
    }
  }
}
</style>
