<template>
  <div id="main-layout">
    <header id="main-header" v-if="animationEnd">
      <!-- Light/dark mode toggle -->
      <label class="mode-toggle">
        <input type="checkbox" v-model="lightMode" @input="toggleMode">
        <span class="icon-container">
          <transition name="rotate-fade" mode="out-in">
            <img src="@/assets/icons/dark_mode.svg" alt="d" v-if="lightMode">
            <img src="@/assets/icons/sunny.svg" alt="d" v-else>
          </transition>
        </span>
      </label>
    </header>

    <!-- Main content -->
    <main id="main-content">
      <!-- Animation -->
      <IntroAnimation v-show="!animationEnd" @animation-end="animationEnd = true" />
      <!-- Title -->
      <MainTitle v-if="animationEnd" />
      <!-- Menu -->
      <Menu v-if="animationEnd" />
      <!-- Contact message -->
      <span class="contact" v-if="animationEnd">
        Contact me! <a href="mailto:oestrellal96@gmail.com">oestrellal96@gmail.com</a>
      </span>
    </main>

    <!-- Footer -->
    <footer id="main-footer" v-if="animationEnd"></footer>
  </div>
</template>

<script lang="ts">
import { defineComponent } from 'vue';
import IntroAnimation from './components/IntroAnimation.vue';
import MainTitle from './components/MainTitle.vue';
import Menu from './components/Menu.vue';

export default defineComponent({
  name: 'App',
  components: {
    IntroAnimation,
    MainTitle,
    Menu,
  },
  data() {
    return {
      animationEnd: false,
      lightMode: false,
    };
  },
  methods: {
    toggleMode() {
      // Get the app element and toggle the class
      const app = document.getElementById('app');
      if (app) app.classList.toggle('light-mode');

      // Change the header color
      const hexColor = this.lightMode ? '#0A0A58' : '#00D4FF';
      // Set a timeout so it doesn't look too weird
      window.setTimeout(() => {
        // eslint-disable-next-line no-unused-expressions
        document.querySelector('meta[name="theme-color"]')?.setAttribute('content', hexColor);
      }, 1000);
    },
  },
});
</script>

<style lang="scss">
@import '@/assets/styles/index.scss';
@import '@/assets/styles/_responsive-breakpoints';

#app {
  text-align: center;
  color: var(--text-current);
  height: 100vh;
  background: rgb(2,0,36);
  background: linear-gradient(
    180deg,
    rgba(2,0,36,1) 0%,
    rgba(10,10,88,1) 35%,
    rgba(0,212,255,1) 70%,
    rgba(222,244,249,1) 100%
  );
  background-size: 100% 1200%;
  transition: background-position 3s ease-in-out, color 3.5s ease-in-out;

  &.light-mode {
    background-position: bottom;
    --text-current: #000033;

    // #main-layout {
    //   filter: grayscale(0);
    // }
  }
}

#main-layout {
  display: grid;
  grid-template-areas: 'header' 'content' 'footer';
  grid-template-rows: auto 1fr auto;
  height: 100%;
  // filter: grayscale(10%);

  #main-content {
    grid-area: content;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 10px;

    .contact {
      font-size: 1.2em;
      position: fixed;
      bottom: 0;
      margin-bottom: 10px;
      animation: fadeFromBottom 1s ease-out;

      @media screen and (max-width: 1035px) {
        bottom: 100px;
      }
    }
  }

  #main-header {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 10px;
    animation: fadeFromTop 1s ease-out;
  }

  #main-footer {
    font-size: 1.4em;
    animation: fadeFromBottom 1s ease-out;

    @media screen and (max-width: 1035px) {
      transform: translateY(-100px);
    }
  }
}

.mode-toggle {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;

  .icon-container {
    display: grid;
    place-items: center;
    background-color: #00aacc;
    transition: background 3s ease-in-out;
    width: 100%;
    height: 100%;
    border-radius: 50%;
  }

  input {
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
    visibility: hidden;

    &:checked +.icon-container {
      background-color: #1414af;
    }
  }
}

// Animations
@keyframes fadeFromTop {
  0% {
    opacity: 0;
    transform: translateY(-50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeFromBottom {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.rotate-fade-enter-to, .rotate-fade-leave-from {
  transition: all 1.5s ease-in-out;
  transform: rotateZ(720deg);
  opacity: 1;
}
.rotate-fade-leave-to, .rotate-fade-enter-from {
  transition: all 1.5s ease-in-out;
  transform: rotateZ(360deg);
  opacity: 0;
}

</style>
