// Based on Davis Ford's work.
// From https://daviseford.com/blog/2018/01/10/scss-responsive-media-query-mixins.html

// Screen size variables
$screen-xs-min: 425px;  // Tiny phones
$screen-sm-min: 576px;  // Small tablets and large smartphones (landscape view)
$screen-md-min: 768px;  // Small tablets (portrait view)
$screen-lg-min: 992px;  // Tablets and small desktops
$screen-xl-min: 1200px; // Large tablets and desktops

// Mixins
@mixin xs { @media (min-width: #{$screen-xs-min}) {@content;} } // Tiny devices
@mixin sm { @media (min-width: #{$screen-sm-min}) {@content;} } // Small devices
@mixin md { @media (min-width: #{$screen-md-min}) {@content;} } // Medium devices
@mixin lg { @media (min-width: #{$screen-lg-min}) {@content;} } // Large devices
@mixin xl { @media (min-width: #{$screen-xl-min}) {@content;} } // Extra large devices

@mixin xs-only { // Tiny devices
  @media (min-width: #{$screen-xs-min}) and (max-width: #{$screen-sm-min - 1}) {@content;}
}
@mixin sm-only { // Small devices
  @media (min-width: #{$screen-sm-min}) and (max-width: #{$screen-md-min - 1}) {@content;}
}
@mixin md-only { // Medium devices
  @media (min-width: #{$screen-md-min}) and (max-width: #{$screen-lg-min - 1}) {@content;}
}
@mixin lg-only { // Large devices
  @media (min-width: #{$screen-lg-min}) and (max-width: #{$screen-xl-min - 1}) {@content;}
}

@mixin touch { // Tablets and phones
  @media (max-width: #{$screen-md-min}) {@content;}
}

@mixin phones {
  @media (max-width: #{$screen-sm-min}) {@content;}
}