@import 'responsive-breakpoints';

/* Variable definition for dark theme */
:root {
  --background-dark: #0A0A58;
  --background-light: #00D4FF;
  --accent-bronze: #D58936; // ca7d2b
  --accent-ruby: #9E1946;
  --accent-green: #7FB068; // 136f63
  --accent-blue: #4D6CFA;

  --star-blue: #00D4FF;
  --star-yellow: #f4e090;

  --text-light: #FFFAFA;
  --text-dark: #000033;

  --text-current: #FFFAFA;
}

html {
  height: 100%;
  overflow: hidden;
  box-sizing: border-box;
}

body {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
  margin: 0;
  padding: 0;
  background: rgb(2,0,36);

  * {
    box-sizing: border-box;
  }

  a {
    color: var(--text-current);
    text-decoration: underline;
    font-style: italic;
    transition: color 3.5s ease-in-out;
  }

  @include phones {
    font-size: 12px;
  }
}
